//RegistrationForms
h3 {
  font-size: 24px;
  text-align: center !important;
}

.Button {
  display: flex;
  margin: auto;
  width: auto;
  margin-bottom: 10px;
}

//Header
.Header {
  color: black!important;
  padding: 0 !important;
  margin: auto;
  .HeaderSearch{
    display: inline-flex;
    .SearchInput{
      margin-right: 20px;
      input{
        width: 0;

      }
      input:focus{
        width: 200px;

      }
    }
    a{
      color: black!important;
    }
  }

  .PageHeader {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 !important;
  }

  .HeaderButton {
    display: flex;
    margin: auto 0;
  }

  .HeaderTitle {
    display: flex;
    justify-content: space-between;

    input {
      width: auto;
    }
  }

  .HeaderLink {
    display: flex;
    margin: auto 0;
    justify-content: flex-start;
  }
}

//Carousel
.Scroll {
  padding: 0 !important;

  .Carousel {
    height: 250px;
    background: royalblue;
    padding: 0;

    .Img1 {
    }
  }
}

//SearchBlock
.SearchEvent {
  display: flex;
  flex-direction: column;
  background: cornsilk;
  margin: auto;
}

.SearchField {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
.Cascader{
  background: red;
  .ant-cascader-menu{
    background: #007bff!important;
  }

}
//Menu Personal Area
  .MenuPA {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
  }
//Scroll
h2 {
  color: white;
  text-align: center;
  font-size: 24px
}
.EventCardList{
  padding: 24px;
  display: flex;
}
//DetailCard
.DetailCard{
  width: auto;
  .ButtonsEvent{
    justify-content: space-evenly!important;
  }
  .CardImage{
    width: 60%;
    margin: 20px auto;
  }

}
.InfoAboutEvent {
  height: 100px;
  overflow: scroll!important;
}


a{
  cursor: pointer;
}
.CardImage{
  width: 100%;
}
.Warning{
  font-size: 13px;
}
//Кнопки в CardEvent
.ButtonsWrap{
  display: flex;
  flex-direction: column;
  .ButtonsEvent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
//Footer
.Footer{
  background: silver;
  height: 200px;
  text-align: center;
  color: white;
}