//RegistrationForms
.FormRegistration {
  display: flex;
  flex-direction: column;

  .Avatar {
    display: flex;
    margin: auto;
  }
}

h3 {
  font-size: 24px;
  text-align: center !important;
  margin-bottom: 40px !important;
}

.ButtonRegistration {
  display: flex;
  margin: auto;
  width: auto;
}

.InputRegistration {
  width: 300px !important;
}

//Header
.Header {
  padding: 0 !important;
  margin: auto;

  .PageHeader {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 !important;
  }

  .HeaderButton {
    display: flex;
    margin: auto 0;
  }

  .HeaderTitle {
    display: flex;
    justify-content: space-between;

    input {
      width: auto;
    }
  }

  .HeaderLink {
    display: flex;
    margin: auto 0;
    justify-content: flex-start;

    a {
      margin-left: 20px;
    }
  }
}

//Carousel
.Scroll {
  padding: 0 !important;

  .Carousel {
    height: 250px;
    background: royalblue;
    padding: 0;

    .Img1 {
      background: url("") no-repeat;
    }
  }
}

//SearchBlock
.SearchEvent {
  display: flex;
  flex-direction: column;
  background: cornsilk;
  margin: auto;
}

.SearchField {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

//Menu Personal Area
.MenuPA {
  display: flex;
  justify-content: space-around;
}

//Scroll
h2 {
  color: white;
  text-align: center;
  font-size: 24px
}
//Адаптивность
@media (max-width: 1023px){
  //Поля для поиска
  .SearchField {
    flex-direction: column;
    flex-flow: wrap;
    .InputSearch{
      width: 300px;
    }
  }
}
@media (max-width: 415px){
  //Слайдер
  .Carousel{
    height: 200px!important;
  }
}