@media (max-width: 1023px){
  //Поля для поиска
  .SearchField {
    flex-direction: column;
    flex-flow: wrap;
    .InputSearch{
      width: 300px!important;
    }
  }
}
@media (max-width: 415px){
  //Слайдер
  .Carousel{
    height: 200px!important;
  }
  //EnterPage
  .WrapEnterForm {
    padding: 24px !important;
  }
  .Header{
    .HeaderTitle{
    }
    .ButtonHeader{
      display: flex;
    }
  }
  .Input {
    width: 100%!important;
    padding: 0!important;
  }
  .EventCardList{
    justify-content: center;
  }
  .Footer{
    height: 100px!important;
  }
  .DetailCard{
    .CardImage{
      width: 100% !important;
      margin:0!important;
    }

  }

}