* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

a{
  color: black!important;
}
.container-fluid {
  padding: 0 !important;
}

//EnterPage
.WrapEnterForm {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  padding-top: 50px !important;

  .ButtonEnter {
    width: auto;
    margin: 0 auto;
  }

  .LoginConfirmation {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;

    .InLineBlock {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
    }

    .ColumnBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
    }
  }
}

//Personal Page
.PersonalPage {
  justify-content: center;
  padding: 0 !important;

  .PersonalInfo {
    margin-left: 30px;

    h2 {
      color: black;
    }

    .PersonalText {

    }
  }
}

//Card
.CardWrap {
  padding: 0 !important;
  display: flex;
  justify-content: center;
}

.Card {
  display: flex;
  flex-direction: column;

}
.ant-card-body{
  flex-grow: 1;
}

.CardText {
  display: flex;
  flex-direction: column;
}

//Ссылки
.Href {
  color: #007bff !important;
}