#root{
  margin: 0;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}
.Body {
  margin: 0;
  padding: 0 !important;
  height: 100%;
  width: 100%;

  .Registration {
    margin: auto;
    background: white;

    .Form {
      margin: auto;
    }
  }
}
//MainPage
.MainPage {
  padding: 0 !important;
}

//EnterPage
.WrapEnterForm {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  padding-top: 50px !important;

  .ButtonEnter {
    width: auto;
    margin: 0 auto;
  }

  .LoginConfirmation {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;

    .InLineBlock {
      display: inline-flex;
    }

    .ColumnBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
    }
  }

}

